name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Push to EC2
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: 54.89.171.134
          username: ubuntu
          key: ${{ secrets.PRIVATE_SSH_KEY }}
          port: 22
          script: |
            /home/ubuntu/.nvm/versions/node/v20.20.0/bin/node -v
            /home/ubuntu/.nvm/versions/node/v20.20.0/bin/npm -v

            cd /home/ubuntu/ci-cd || exit 1
            git pull origin main

            /home/ubuntu/.nvm/versions/node/v20.20.0/bin/npm install
            /home/ubuntu/.nvm/versions/node/v20.20.0/bin/npm run build

           